@import "assets/scss/fonts.scss";

html, body {
    font-family: $font-primary;
    color: white;
}


@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

canvas {
    background: linear-gradient(27deg, rgb(0, 0, 0), rgb(66, 0, 0));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: 400% 400%;
    animation: Gradient 30s ease infinite;
}
